*{
    margin: 0%;
    padding: 0%;
    font-family: Rajdhani, sans-serif;
}
.home{
    position: absolute;
    height: 90h;
    top: 10vh;
    display: flex;
    width: 100%;
    flex-direction: row;
}
.home-left{
    position: fixed;
    display: flex;
    flex-direction: column;
    height: 90vh;
    width: 240px;
    color: #fff;

    background-image: url(https://affiliateindians.com/ai/members/assets/banner_bg/background.jpg);
}
.home-left2{
    display: none;
}

.stream,.traffic,.commisions,.leader,.rank,.reports,.members,.leads,.links,.wallet,.start{
    height: 48px;
}
.stream a,.traffic a,.commisions a,.leader a,.rank a,.reports a,.members a,.leads a,.links a,.wallet a,.start a{
color: #fff;
font-size: 16px;
padding-left: 10%;

}
.stream:active,.traffic:active,.commisions:active,.leader:active,.rank:active,.reports:active,.members:active,.leads:active,.links:active,.wallet:active,.start:active,.stream:active,.traffic:active,.commisions:active,.leader:active,.rank:active,.reports:active,.members:active,.leads:active,.links:active,.wallet:active,.start:active{
    background-color:rgba(255, 255, 255, .1);
    color: #DCB52C;
    border-right: 2px solid #fff;

}
.stream a:hover,.traffic a:hover,.commisions a:hover,.leader a:hover,.rank a:hover,.reports a:hover,.members a:hover,.leads a:hover,.links a:hover,.wallet a:hover,.start a:hover,.stream a:hover,.traffic a:hover,.commisions a:hover,.leader a:hover,.rank a:hover,.reports a:hover,.members a:hover,.leads a:hover,.links a:hover,.wallet a:hover,.start a:hover{
    color: #DCB52C;

}

.start{
    margin-top: 15%;
  
}
.home-left1{
    position: fixed;
    display: flex;
    flex-direction: column;
    height: 90vh;
    width: 70px !important;
    color: #fff;

    background-image: url(https://affiliateindians.com/ai/members/assets/banner_bg/background.jpg);
}

.stream1,.traffic1,.commisions1,.leader1,.rank1,.reports1,.members1,.leads1,.links1,.wallet1,.start1{
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: row;
}
.stream1 a,.traffic1 a,.commisions1 a,.leader1 a,.rank1 a,.reports1 a,.members1 a,.leads1 a,.links1 a,.wallet1 a,.start1 a{
    color: #fff;
    font-size: 16px;
 

    }
    .stream1:active,.traffic1:active,.commisions1:active,.leader1:active,.rank1:active,.reports1:active,.members1:active,.leads1:active,.links1:active,.wallet1:active,.start1:active,.stream1:active,.traffic1:active,.commisions1:active,.leader1:active,.rank1:active,.reports1:active,.members1:active,.leads1:active,.links1:active,.wallet1:active,.start1:active{
        background-color:rgba(255, 255, 255, .1);
        color: #DCB52C;
        border-right: 2px solid #fff;
    
    }
    .stream1 a:hover,.traffic1 a:hover,.commisions1 a:hover,.leader1 a:hover,.rank1 a:hover,.reports1 a:hover,.members1 a:hover,.leads1 a:hover,.links1 a:hover,.wallet1 a:hover,.start1 a:hover,.stream1 a:hover,.traffic1 a:hover,.commisions1 a:hover,.leader1 a:hover,.rank1 a:hover,.reports1 a:hover,.members1 a:hover,.leads1 a:hover,.links1 a:hover,.wallet1 a:hover,.start1 a:hover{
        color: #DCB52C;
    
    }
    .stream1:hover,.traffic1:hover,.commisions1:hover,.leader1:hover,.rank1:hover,.reports1:hover,.members1:hover,.leads1:hover,.links1:hover,.wallet1:hover,.start1:hover,.stream1:hover,.traffic1:hover,.commisions1:hover,.leader1:hover,.rank1:hover,.reports1:hover,.members1:hover,.leads1:hover,.links1:hover,.wallet1:hover,.start1:hover{
        background-color:rgba(255, 255, 255, .1);
        color: #DCB52C;
        border-right: 2px solid #fff;
    
    }
    .start1{
        margin-top: 55%;
      
    }
 /*    .start1:hover{
        background-color: rgb(60, 69, 86);
        color: #DCB52C;
        width: 190px;
        overflow: visible;
        z-index: 456;
        position: relative;
        justify-content: flex-start;
     } */
    .header-heading{
   color: #000;
    font-size: 18px;
     padding-left: 10px;
     ;
    }
.home-right{position: absolute;
    left: 240px;
    display: flex;
    flex-direction: column;
   
    width: calc(100% - 240px);
    height: 100%;
}
.home-right1{
    position: absolute;
    left: 70px;
    display: flex;
    flex-direction: column;
   
    width: calc(100% - 70px);
    height: 100%;
}
.right-header{
    display: flex;
    flex-direction: row;
    align-items: center;
 
    justify-content: space-between;
    padding: 15px 0px;
    background-color: #fFF;
}

.sidewords{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.right-block1{
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 25px;
    padding: 25px;
}
.right-block1-part1-container{
    background-color:#fff;
    border: 1px solid black;
    height: 309px;
    width: 66.5%;
    border-radius: 5px;
    padding: 6px;
 
}
.right-block-container{
    background-color:#F5F4F7;
}
.sidebar-container2{
    display: none;
}
.right-block1-part1{
   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 100%;
    border-radius: 5px;
    padding: 6px;
    background-image: url(https://affiliateindians.com/ai/members/assets/banner_bg/background.jpg);
}
.right-block1-part2{
    background-image: url(https://affiliateindians.com/ai/affiliate/assets/ranks/affiliate.jpg);
    background-size: 100% 100%!important;
    border: 1px solid black;
    height: 309px;
    width: 31.5%;
    cursor: pointer;
    border-radius: 5px;
}
.home-right-block2-container{
    background-color:#fff;
    height: 503px;
    padding: 25px;
    border-radius: 5px;
    border: 1px solid black;
    margin: 0px 25px;
    margin-bottom: 30px;
}
.right-block2{
display: flex;
flex-direction: column;
height: 100%;

}
.innerheader-container{
    background-color: rgb(1, 0, 1);
    color: #fFF;
    height: 63px;
    font-size: 28px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.right-block2-inner1{
    background-color:#F5F4F7;
    border: 1px solid #e7e6e8;
    height: 258px;
    display: flex;
    flex-direction: row;
    padding: 16px 16px 32px 32px;
}
.right-block2-inner2{
    padding: 16px 16px 32px 32px;
    border: 1px solid #e7e6e8;
    height: 133px;
    display: flex;
    flex-direction: row;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.right-block2-inner2:hover{
background-color:#F5F4F7;
}
.item-container{
    width: 15%;
}
.form-container1{
    width: 85%;
    display: flex;
    flex-direction: column;
    gap: 22px;
}
.item-box{
    border:1px solid black;
    width: 70%;
    background-color:#000;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80px;
    justify-content: center;
}
.button1,.button2,.button3{
    margin-bottom: 1rem;

    border: 0cm;
    height:40px;
    border-radius: 5px;
    background-color:#DCB52C ;
  font-size: 16px;
}
.outer-container{
    display: flex;
    flex-direction: column;
    gap: 22px;
    width: 85%;
}
.form-container2{
   width: 100%;
    display: flex;
    flex-direction: row;
    gap: 22px;
}
.button1{
    width: 70px;
}
.button2{
    width: 200px;
}
.button3{
    width: 70px;
}
.text,.text1{
    font-size: 16px;
  }
.input{
    
        padding: 10px;
        height: 40px;
        width: 68%;
    
}
@media (max-width:1200px) {
   
}
@media (max-width:1030px) {
    .sidebar-container2{
        display: flex;

    }
    .sidebar-container1{
        display: none;
    }
    .right-block1{
        display: flex;
        flex-direction: column;
        gap: 25px;
        padding: 25px;
    }
    .right-block1-part2{
        width: 100%;
    }
    .right-block1-part1-container{
        width: 100%;
    }
}
@media (max-width:880px) {
    .home-right-block2-container{
        height: 880px;
    }
    .right-block2-inner1{
        display: flex;
        flex-direction: column;
        height: 380px;
        padding: 16px;
    }
    .right-block2-inner2{
        height: 350px;
        flex-direction: column;
        padding: 16px;width: 100%;
    }
    .form-container2{
        flex-direction: column;
        gap: 15px;
    }
    .item-box{
width: 100%;
    }
    .input{
        width: 100%;
    }
    .outer-container{
        width: 100%;
        margin-top: 10px;
    }
    .button2,.button3{
        width: 100%;
    }
    .item-container{
        width: 80%;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
    }
    .text,.text1{
   
    width: 100%;
    }
    .form-container1{
        width: 100%;
        margin-top: 10px;
    }

}
@media (max-width:600px) {
    .home-left{
display: none;
    }
    .home-left1{
        display: none;
    }
    .home-right{
        width: 100%;
        left: 0;
    }
    .home-right1{
        width: 100%;
        left: 0;

    }
    .home-left2{
        z-index: 1515165;
        top: 10vh;
        left: 0;
        position: fixed;
        display: flex;
        flex-direction: column;
        height: 90vh;
        width: 240px;
        color: #fff;
    
        background-image: url(https://affiliateindians.com/ai/members/assets/banner_bg/background.jpg);
    }
    .sidewords{
        display: none;
    }
}
@media (max-width:550px) {
    .home-right-block2-container{
        height: 950px;
    }
    .right-block2-inner1{
      
        height: 420px;
 
    }
    .right-block2-inner2{
        height: 410px;
 
    }
}
    @media (max-width:440px) {
        .home-right-block2-container{
            height: 1000px;
        }
        .right-block2-inner1{
          
            height: 450px;
     
        }
        .right-block2-inner2{
            height: 430px;
     
        }
}
