*{
    margin: 0%;
    padding: 0%;
    font-family: Rajdhani, sans-serif;
}
.home{
    position: absolute;
    height: 90h;
    top: 10vh;
    display: flex;
    width: 100%;
    flex-direction: row;
}
.copyright{
    min-height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #000;
    background-color: #F5F4F7;
    font-size: 16px;
    margin-bottom: 20px;
}
.home-left{
    position: fixed;
    display: flex;
    flex-direction: column;
    height: 90vh;
    width: 240px;
    color: #fff;

    background-image: url(https://affiliateindians.com/ai/members/assets/banner_bg/background.jpg);
}
.home-left2{
    display: none;
}

.stream,.traffic,.commisions,.leader,.rank,.reports,.members,.leads,.links,.wallet,.start{
    height: 48px;
}
.stream a,.traffic a,.commisions a,.leader a,.rank a,.reports a,.members a,.leads a,.links a,.wallet a,.start a{
color: #fff;
font-size: 16px;
padding-left: 10%;

}
.stream:active,.traffic:active,.commisions:active,.leader:active,.rank:active,.reports:active,.members:active,.leads:active,.links:active,.wallet:active,.start:active,.stream:active,.traffic:active,.commisions:active,.leader:active,.rank:active,.reports:active,.members:active,.leads:active,.links:active,.wallet:active,.start:active{
    background-color:rgba(255, 255, 255, .1);
    color: #DCB52C;
    border-right: 2px solid #fff;

}
.stream a:hover,.traffic a:hover,.commisions a:hover,.leader a:hover,.rank a:hover,.reports a:hover,.members a:hover,.leads a:hover,.links a:hover,.wallet a:hover,.start a:hover,.stream a:hover,.traffic a:hover,.commisions a:hover,.leader a:hover,.rank a:hover,.reports a:hover,.members a:hover,.leads a:hover,.links a:hover,.wallet a:hover,.start a:hover{
    color: #DCB52C;

}

.start{
    margin-top: 15%;
  
}
.home-left1{
    position: fixed;
    display: flex;
    flex-direction: column;
    height: 90vh;
    width: 70px !important;
    color: #fff;

    background-image: url(https://affiliateindians.com/ai/members/assets/banner_bg/background.jpg);
}
.stream1,.traffic1,.commisions1,.leader1,.rank1,.reports1,.members1,.leads1,.links1,.wallet1,.start1{
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: row;
}
.stream1 a,.traffic1 a,.commisions1 a,.leader1 a,.rank1 a,.reports1 a,.members1 a,.leads1 a,.links1 a,.wallet1 a,.start1 a{
    color: #fff;
    font-size: 16px;
 

    }
    .stream1:active,.traffic1:active,.commisions1:active,.leader1:active,.rank1:active,.reports1:active,.members1:active,.leads1:active,.links1:active,.wallet1:active,.start1:active,.stream1:active,.traffic1:active,.commisions1:active,.leader1:active,.rank1:active,.reports1:active,.members1:active,.leads1:active,.links1:active,.wallet1:active,.start1:active{
        background-color:rgba(255, 255, 255, .1);
        color: #DCB52C;
        border-right: 2px solid #fff;
    
    }
    .stream1 a:hover,.traffic1 a:hover,.commisions1 a:hover,.leader1 a:hover,.rank1 a:hover,.reports1 a:hover,.members1 a:hover,.leads1 a:hover,.links1 a:hover,.wallet1 a:hover,.start1 a:hover,.stream1 a:hover,.traffic1 a:hover,.commisions1 a:hover,.leader1 a:hover,.rank1 a:hover,.reports1 a:hover,.members1 a:hover,.leads1 a:hover,.links1 a:hover,.wallet1 a:hover,.start1 a:hover{
        color: #DCB52C;
    
    }

    .start1{
        margin-top: 55%;
      
    }
    .header-heading{
   color: #000;
    font-size: 18px;
     padding-left: 10px;
     ;
    }
.home-right{position: absolute;
    left: 240px;
    display: flex;
    flex-direction: column;
   
    width: calc(100% - 240px);
    height: 100%;
}
.home-right1{
    position: absolute;
    left: 70px;
    display: flex;
    flex-direction: column;
   
    width: calc(100% - 70px);
    height: 100%;
}
.right-header{
    display: flex;
    flex-direction: row;
    align-items: center;
 
    justify-content: space-between;
    padding: 15px 0px;
    background-color: #fFF;
}

.sidewords{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.right-block1{
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 25px;
    padding: 25px;
}
.right-block1-part1-container{
    background-color:#fff;
    border: 1px solid black;
    height: 309px;
    width: 66.5%;
    border-radius: 5px;
    padding: 6px;
 
}
.right-block-container{
    background-color:#F5F4F7;
}
.sidebar-container2{
    display: none;
}
.right-block1-part1{
   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 100%;
    border-radius: 5px;
    padding: 6px;
    background-image: url(https://affiliateindians.com/ai/members/assets/banner_bg/background.jpg);
}
.right-block1-part2{
    background-image: url(https://affiliateindians.com/ai/affiliate/assets/ranks/affiliate.jpg);
    background-size: 100% 100%!important;
    border: 1px solid black;
    height: 309px;
    width: 31.5%;
    cursor: pointer;
    border-radius: 5px;
}
.leads-right-block2-container{
    background-color:#fff;
  
    padding: 25px;
    border-radius: 5px;
    border: 1px solid black;
    margin: 0px 25px;
    margin-bottom: 30px;
}
.leads-right-block2{
    display: flex;
    flex-direction: column;
  

}
.leads-header{
    display: flex;
    flex-direction: row;
}
.leads-header1,.leads-header2,.leads-header3,.leads-header4,.leads-header5,.leads-header6{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50px;
    color: #fff;
    font-size: 16px;
    border-right: 1px solid #fff;
    background-image: url(https://affiliateindians.com/ai/members/assets/banner_bg/background.jpg);
}
.leads-header6{
    border: none;
}
.lead1,.lead2,.lead3,.lead4,.lead5,.lead6,.lead7,.lead8,.lead9,.lead10,.lead11,.lead12,.lead13,.lead14,.lead15,.lead16,.lead17,.lead18,.lead19,.lead20,.lead21,.lead22,.lead23{
display: flex;
flex-direction: row;
}
.lead2,.lead4,.lead6,.lead8,.lead10,.lead12,.lead14,.lead16,.lead18,.lead20,.lead22{
    background-color: #F5F4F7;
    width: 1453px;
}
.lead1:hover,.lead3:hover,.lead5:hover,.lead7:hover,.lead9:hover,.lead11:hover,.lead13:hover,.lead15:hover,.lead17:hover,.lead19:hover,.lead21:hover,.lead23:hover{
    background-color: #F5F4F7;
    width: 1453px;
}
.leads-count,.leads-date-time,.leads-tag,.leads-name,.leads-email,.leads-phone{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 20px 15px;
    font-size: 16px;
    border: 1px solid #bdbcbf;
}
.leads-count,.leads-header1{
    min-width: 62px;
}
.leads-date-time,.leads-header2{
    min-width: 110px;
}
.leads-email,.leads-header5{
    min-width: 256px;
}
.leads-name,.leads-header4{
    min-width: 104px;
}
.leads-phone,.leads-header6{
    min-width: 131px;
}
.leads-tag,.leads-header3{
    min-width: 791px;
}
@media (max-width:1200px) {
   
}
@media (max-width:1030px) {
    .sidebar-container2{
        display: flex;

    }
    .sidebar-container1{
        display: none;
    }
    .right-block1{
        display: flex;
        flex-direction: column;
        gap: 25px;
        padding: 25px;
    }
    .right-block1-part2{
        width: 100%;
    }
    .right-block1-part1-container{
        width: 100%;
    }
}

@media (max-width:600px) {
    .home-left{
display: none;
    }
    .home-left1{
        display: none;
    }
    .home-right{
        width: 100%;
        left: 0;
    }
    .home-right1{
        width: 100%;
        left: 0;

    }
    .home-left2{
        z-index: 1515165;
        top: 10vh;
        left: 0;
        position: fixed;
        display: flex;
        flex-direction: column;
        height: 90vh;
        width: 240px;
        color: #fff;
    
        background-image: url(https://affiliateindians.com/ai/members/assets/banner_bg/background.jpg);
    }
    .sidewords{
        display: none;
    }
}

