*{
    margin: 0%;
    font-family: Rajdhani, sans-serif;
    padding: 0%;
}
.home{
    position: absolute;
    height: 90h;
    top: 10vh;
    display: flex;
    width: 100%;
    flex-direction: row;
}
.copyright{
    min-height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #000;
    background-color: #F5F4F7;
    font-size: 16px;
  
}
.home-left{
    position: fixed;
    display: flex;
    flex-direction: column;
    height: 90vh;
    width: 240px;
    color: #fff;

    background-image: url(https://affiliateindians.com/ai/members/assets/banner_bg/background.jpg);
}
.home-left2{
    display: none;
}

.stream,.traffic,.commisions,.leader,.rank,.reports,.members,.leads,.links,.wallet,.start{
    height: 48px;
}
.stream a,.traffic a,.commisions a,.leader a,.rank a,.reports a,.members a,.leads a,.links a,.wallet a,.start a{
color: #fff;
font-size: 16px;
padding-left: 10%;

}
.stream:active,.traffic:active,.commisions:active,.leader:active,.rank:active,.reports:active,.members:active,.leads:active,.links:active,.wallet:active,.start:active,.stream:active,.traffic:active,.commisions:active,.leader:active,.rank:active,.reports:active,.members:active,.leads:active,.links:active,.wallet:active,.start:active{
    background-color:rgba(255, 255, 255, .1);
    color: #DCB52C;
    border-right: 2px solid #fff;

}
.stream a:hover,.traffic a:hover,.commisions a:hover,.leader a:hover,.rank a:hover,.reports a:hover,.members a:hover,.leads a:hover,.links a:hover,.wallet a:hover,.start a:hover,.stream a:hover,.traffic a:hover,.commisions a:hover,.leader a:hover,.rank a:hover,.reports a:hover,.members a:hover,.leads a:hover,.links a:hover,.wallet a:hover,.start a:hover{
    color: #DCB52C;

}

.start{
    margin-top: 15%;
  
}
.home-left1{
    position: fixed;
    display: flex;
    flex-direction: column;
    height: 90vh;
    width: 70px !important;
    color: #fff;

    background-image: url(https://affiliateindians.com/ai/members/assets/banner_bg/background.jpg);
}
.stream1,.traffic1,.commisions1,.leader1,.rank1,.reports1,.members1,.leads1,.links1,.wallet1,.start1{
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: row;
}
.stream1 a,.traffic1 a,.commisions1 a,.leader1 a,.rank1 a,.reports1 a,.members1 a,.leads1 a,.links1 a,.wallet1 a,.start1 a{
    color: #fff;
    font-size: 16px;
 

    }
    .stream1:active,.traffic1:active,.commisions1:active,.leader1:active,.rank1:active,.reports1:active,.members1:active,.leads1:active,.links1:active,.wallet1:active,.start1:active,.stream1:active,.traffic1:active,.commisions1:active,.leader1:active,.rank1:active,.reports1:active,.members1:active,.leads1:active,.links1:active,.wallet1:active,.start1:active{
        background-color:rgba(255, 255, 255, .1);
        color: #DCB52C;
        border-right: 2px solid #fff;
    
    }
    .stream1 a:hover,.traffic1 a:hover,.commisions1 a:hover,.leader1 a:hover,.rank1 a:hover,.reports1 a:hover,.members1 a:hover,.leads1 a:hover,.links1 a:hover,.wallet1 a:hover,.start1 a:hover,.stream1 a:hover,.traffic1 a:hover,.commisions1 a:hover,.leader1 a:hover,.rank1 a:hover,.reports1 a:hover,.members1 a:hover,.leads1 a:hover,.links1 a:hover,.wallet1 a:hover,.start1 a:hover{
        color: #DCB52C;
    
    }

    .start1{
        margin-top: 55%;
      
    }
    .header-heading{
   color: #000;
    font-size: 18px;
     padding-left: 10px;
     ;
    }
.home-right{position: absolute;
    left: 240px;
    display: flex;
    flex-direction: column;
   
    width: calc(100% - 240px);
    height: 100%;
}
.home-right1{
    position: absolute;
    left: 70px;
    display: flex;
    flex-direction: column;
   
    width: calc(100% - 70px);
    height: 100%;
}
.right-header{
    display: flex;
    flex-direction: row;
    align-items: center;
 
    justify-content: space-between;
    padding: 15px 0px;
    background-color: #fFF;
}

.sidewords{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.right-block1{
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 25px;
    padding: 25px;
}
.right-block1-part1-container{
    background-color:#fff;
    border: 1px solid black;
    height: 309px;
    width: 66.5%;
    border-radius: 5px;
    padding: 6px;
 
}
.right-block-container{
    background-color:#F5F4F7;
}
.sidebar-container2{
    display: none;
}
.right-block1-part1{
   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 100%;
    border-radius: 5px;
    padding: 6px;
    background-image: url(https://affiliateindians.com/ai/members/assets/banner_bg/background.jpg);
}
.right-block1-part2{
    background-image: url(https://affiliateindians.com/ai/affiliate/assets/ranks/affiliate.jpg);
    background-size: 100% 100%!important;
    border: 1px solid black;
    height: 309px;
    width: 31.5%;
    cursor: pointer;
    border-radius: 5px;
}
.rank-right-block2-container{
    background-color:#fff;
    height: 125px;
    padding: 25px;
    border-radius: 5px;
    border: 1px solid black;
    margin: 0px 25px;
    margin-bottom: 25px;
}
.rank-right-block2-container-inner{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    height: 50px;
    font-size: 16px;
    background-color: #F1F4F6;
    color: #000;

}
.ques{
    color: rgb(131, 131, 184);
    margin: 0px 10px;
}
.rank-right-block2-container1{
    background-color:#fff;
    height: 175px;
    padding: 25px;
    border-radius: 5px;
    border: 1px solid black;
    margin: 0px 25px;
    margin-bottom: 25px;
}
.rank-right-block2-container1-inner1{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 50px;
    font-size: 16px;
    background-color: #F1F4F6;
    color: #000;
   
}
.rank-right-block2-container1-inner1-body1,.rank-right-block2-container1-inner1-body2,.rank-right-block2-container1-inner1-body3{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: 1px solid #b0b7bb;
    height: 100%;
}
.rank-right-block2-container1-inner1-body1{
width: 30%;
}
.rank-right-block2-container1-inner1-body2{
width: 30%;
}
.rank-right-block2-container1-inner1-body3{
width: 40%;
}
.rank-right-block2-container1-inner2{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 50px;
    font-size: 16px;
    background-color: #fff;
    color: #000;
   
}
.rank-right-block2-container1-inner2:hover{
    background-color: #F5F4F7;
}
.rank-right-block2-container1-inner2-body1,.rank-right-block2-container1-inner2-body3,.rank-right-block2-container1-inner2-body2{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: 1px solid #b0b7bb;
    height: 100%;
}
.rank-right-block2-container1-inner2-body1{
width: 30%;
}
.rank-right-block2-container1-inner2-body2{
width: 30%;
}
.rank-right-block2-container1-inner2-body3{
    width: 40%;
    }
.rank-right-block2-container2{
    background-color:#fff;
    height: 215px;
    padding: 25px;
    border-radius: 5px;
    border: 1px solid black;
    margin: 0px 25px;
    margin-bottom: 25px;
}
.rank-right-block2{
    display: flex;
    flex-direction: column;
    height: 160px;
}
.rank-right-block2-header-main{
    display: flex;
    flex-direction: row;
 background-color: #000;
 color: #fff;
    justify-content: center;
    align-items: center;
  height: 60px;
    font-size: 15px;
    font-size: 28px;
    border-bottom: 1px solid  #fff;
}
.rank-right-block2-header{
    display: flex;
    flex-direction: row;
   width: 100%;
    justify-content: center;
    align-items: center;
  font-size: 28px;
    
}
.rank-right-block2-body1{
    display: flex;
    flex-direction: row;
 
    justify-content: center;
    align-items: center;
  
}
.rank-right-block2-body1:hover{
    background-color: #F5F4F7;
}
.rank-right-block2-header1,.rank-right-block2-header2,.rank-right-block2-header3{
    background-image: url(https://affiliateindians.com/ai/members/assets/banner_bg/background.jpg);
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 49px;
    color: #fff;
    border: 1px solid #fff;
    align-items: center;
    font-size: 16px;
}
.commision-right-block2-header3{
    border-right: none;
}
.rank-right-block2-body1-part1,.rank-right-block2-body1-part2,.rank-right-block2-body1-part3{
    font-size: 16px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 1px solid #bdbcbf;
    color: #000;
    height: 50px;
}
.rank-right-block2-body1-part1,.rank-right-block2-header1{
    width: 30%;
    min-width: px;
    }
    .rank-right-block2-body1-part2,.rank-right-block2-header2{
        width: 40%;
        min-width: px;
    }
    .rank-right-block2-body1-part3,.rank-right-block2-header3{
        width: 30%;
        min-width: px;
    }

.rank-right-block2-container3{
    background-color:#fff;
    height: 480px;
    padding: 25px;
    border-radius: 5px;
    border: 1px solid black;
    margin: 0px 25px;
    margin-bottom: 25px;
}

.rank-right-block3-header-main{
    display: flex;
    flex-direction: row;
 background-color: #000;
 color: #fff;
    justify-content: center;
    align-items: center;
  height: 65px;
    font-size: 15px;
    font-size: 28px;
    border-bottom: 1px solid  #fff;
}
.rank-right-block2-container3-inner{
    display: flex;
    flex-direction: row;
    background-color: #F1F4F6;
    border:1px solid #bdbcbf;
    height: 365px;
}
.rank-right-block2-container3-innerleft{
    width: 40%;
    padding: 0px 10px;
}
.rank-right-block2-container3-innerleft-inner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    gap: 10px;
}
.affiliateimage{
height: 250px;
border-radius: 50%;
margin-top: 10px;
}
.rank-right-block2-container3-innerright{
    width: 60%;
    
}
.rank-right-block2-container4{
    background-color:#fff;
    height: 165px;
    padding: 25px;
    border-radius: 5px;
    border: 1px solid black;
    margin: 0px 25px;
    margin-bottom: 25px;
}
.rank-right-block2-container4-header{
    display: flex;
    flex-direction: row;
   width: 100%;
    justify-content: center;
    align-items: center;
   height: 65px;
   color: #fff;
   background-color: #000;
   font-size: 28px;
    
}
.rank-right-block2-container4-body{
    display: flex;
    flex-direction: row;
   width: 100%;
    justify-content: center;
    align-items: center;
   height: 50px;
   font-size: 16px;
   background-color: #F1F4F6;
    
}
.rank-right-block2-container5{
    background-color:#fff;
    height: 165px;
    padding: 25px;
    border-radius: 5px;
    border: 1px solid black;
    margin: 0px 25px;
    margin-bottom: 30px;
}
.rank-right-block2-container5-header{
    display: flex;
    flex-direction: row;
   width: 100%;
    justify-content: center;
    align-items: center;
   height: 65px;
   color: #fff;
   background-color: #000;
   font-size: 28px;
}
.rank-right-block2-container5-body{
    display: flex;
    flex-direction: row;
   width: 100%;
    justify-content: center;
    align-items: center;
   height: 50px;
   font-size: 16px;
   background-color: #F1F4F6;
}
@media (max-width:1200px) {
   
}
@media (max-width:1030px) {
    .sidebar-container2{
        display: flex;

    }
    .sidebar-container1{
        display: none;
    }
    .right-block1{
        display: flex;
        flex-direction: column;
        gap: 25px;
        padding: 25px;
    }
    .right-block1-part2{
        width: 100%;
    }
    .right-block1-part1-container{
        width: 100%;
    }
}
@media (max-width:880px) {
    .ranks-right-block2-container{
        height: 880px;
    }
    
}
@media (max-width:760px) {
    .rank-right-block2-container3-innerleft{
width: 100%;
    }
    .rank-right-block2-container3-innerright{
width: 0%;
    }
}
@media (max-width:600px) {
    .home-left{
display: none;
    }
    .home-left1{
        display: none;
    }
    .home-right{
        width: 100%;
        left: 0;
    }
    .home-right1{
        width: 100%;
        left: 0;

    }
    .home-left2{
        z-index: 1515165;
        top: 10vh;
        left: 0;
        position: fixed;
        display: flex;
        flex-direction: column;
        height: 90vh;
        width: 240px;
        color: #fff;
    
        background-image: url(https://affiliateindians.com/ai/members/assets/banner_bg/background.jpg);
    }
    .sidewords{
        display: none;
    }
}
@media (max-width:550px) {
    .ranks-right-block2-container{
        height: 950px;
    }

}
    @media (max-width:440px) {
        .ranks-right-block2-container{
            height: 1000px;
        }
     
}
